
<div layout:decorator="layout/dashboard">


<div layout:fragment="container">

	<div class="span7">   
		<div class="widget stacked widget-table action-table">
    				<div class="col-md-12 padding-0 taskCollapse">
    				
    				<div class="col-lg-4 col-md-4 col-xs-4" style="padding:0;">
    				
    					
                                <div class="col-md-12 col-lg-12 col-xs-12 padding-10  taskListsPadding taskListLeft" th:each="tasksList : ${listLeft}" >
                                    
                                    <div class="panel box-v1" th:style="${tasksList.isShared} ? 'background:rgb(255, 255, 153);' : 'background:#fff;'">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
	                                        <div class="col-md-9 col-sm-9 col-xs-12 pull-left">
	                                        <h4 data-toggle="modal" data-target="#complete-dialog" class="text-left" data-title="taskListEdit" th:id="${tasksList.id}" th:text="${tasksList.title}" style="cursor: pointer;"></h4>
	                                        </div>
	                                        
	                                        <div class="col-md-3 col-sm-3 col-xs-12 pull-right" th:style="${tasksList.isCalendar} ? 'padding: 10px 0 0 0px;' : 'padding: 10px 0 0 30px;'">
	                                        	<a href="javascript:void(0)" class="alarm" th:if="${tasksList.isCalendar}" data-content="Popover with data-trigger" rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover"><i class="material-icons">alarm</i></a>
	                                        	<a href="javascript:void(0)" data-toggle="modal" data-target="#sharedModal" data-title="sharedList"  th:id="${tasksList.id}"><i class="material-icons">share</i></a>
	    									 	<a href="javascript:void(0)" data-toggle="modal" data-target="#delete" data-title="deleteList"  th:id="${tasksList.id}"><i class="material-icons" >delete</i></a>
	                                        </div>                                                         
                                        </div>
                                                                         
                                      <div class="panel-body text-center">
	                                      <div class="checkbox text-left"  th:each="task : ${tasksList.tasks}">
							                <label th:if="${task.status} == 'completed'" style="cursor: context-menu;">
							                  <input type="checkbox"  checked="checked" disabled="disabled"/><span class="check"></span> <span th:text="${task.title}"  style="text-decoration:line-through;"></span>			                  
							                </label>
							                <label th:unless="${task.status} == 'completed'" style="cursor: context-menu;">
							                  <input type="checkbox"   disabled="disabled"/><span class="check"></span> <span th:text="${task.title}"></span>			                  
							                </label>
							              </div>                                                                                                        
                                      </div>
                                    </div>
                                </div>
                                
    				</div>
    				
    				<div class="col-lg-4 col-md-4 col-xs-4" style="padding:0;">
    					       <div class="col-md-12 col-lg-12 col-xs-12 padding-10 taskListsPadding taskListCenter"  th:each="tasksList : ${listCenter}">
                                    
                                    <div class="panel box-v1" th:style="${tasksList.isShared} ? 'background:rgb(255, 255, 153);' : 'background:#fff;'">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <div class="col-md-9 col-sm-9 col-xs-12 pull-left">
                                        <h4 data-toggle="modal" data-target="#complete-dialog"  class="text-left" data-title="taskListEdit"  th:id="${tasksList.id}" th:text="${tasksList.title}" style="cursor:pointer;"></h4>
                                        </div>
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 pull-right" th:style="${tasksList.isCalendar} ? 'padding: 10px 0 0 0px;' : 'padding: 10px 0 0 30px;'">
                                        	<a href="javascript:void(0)" class="alarm" th:if="${tasksList.isCalendar}" data-content="Popover with data-trigger" rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover"><i class="material-icons">alarm</i></a>	
                                        	<a href="javascript:void(0)" data-toggle="modal" data-target="#sharedModal" data-title="sharedList"  th:id="${tasksList.id}"><i class="material-icons">share</i></a>
	    									<a href="javascript:void(0)" data-toggle="modal" data-target="#delete" data-title="deleteList"  th:id="${tasksList.id}"><i class="material-icons" >delete</i></a>
                                        </div>
                                        </div>
                                                                         
                                      <div class="panel-body text-center">
	                                      <div class="checkbox text-left"  th:each="task : ${tasksList.tasks}">
							                <label th:if="${task.status} == 'completed'" style="cursor: context-menu;">
							                  <input type="checkbox"  checked="checked" disabled="disabled"/><span class="check"></span> <span th:text="${task.title}"  style="text-decoration:line-through;"></span>			                  
							                </label>
							                <label th:unless="${task.status} == 'completed'" style="cursor: context-menu;">
							                  <input type="checkbox"   disabled="disabled"/><span class="check"></span> <span th:text="${task.title}"></span>			                  
							                </label>
							              </div>                                                                                                        
                                      </div>
                                    </div>
                                </div>
                                
    				</div>
    				
    				<div class="col-lg-4 col-md-4 col-xs-4" style="padding:0;">
    					      <div class="col-md-12 col-lg-12 col-xs-12 padding-10 taskListsPadding taskListRight"  th:each="tasksList : ${listRight}">
                                    
                                    <div class="panel box-v1" th:style="${tasksList.isShared} ? 'background:rgb(255, 255, 153);' : 'background:#fff;'">
                                        <div class="col-md-12 col-sm-12 col-xs-12 text-left padding-0">
                                          <div class="col-md-9 col-sm-9 col-xs-12 pull-left">
                                        <h4 data-toggle="modal" data-target="#complete-dialog"  class="text-left" data-title="taskListEdit"  th:id="${tasksList.id}" th:text="${tasksList.title}" style="cursor:pointer;"></h4>
                                        </div>
                                        
                                        <div class="col-md-3 col-sm-3 col-xs-12 pull-right" th:style="${tasksList.isCalendar} ? 'padding: 10px 0 0 0px;' : 'padding: 10px 0 0 30px;'">
                                        	<a href="javascript:void(0)" class="alarm" th:if="${tasksList.isCalendar}" data-content="Popover with data-trigger" rel="popover" data-placement="bottom" data-original-title="Title" data-trigger="hover"><i class="material-icons">alarm</i></a>
                                        	<a href="javascript:void(0)" data-toggle="modal" data-target="#sharedModal" data-title="sharedList"  th:id="${tasksList.id}"><i class="material-icons">share</i></a>
	    									<a href="javascript:void(0)" data-toggle="modal" data-target="#delete" data-title="deleteList"  th:id="${tasksList.id}"><i class="material-icons" >delete</i></a>
                                        </div>
                                        </div>
                                                                         
                                      <div class="panel-body text-center">
	                                      <div class="checkbox text-left"  th:each="task : ${tasksList.tasks}">
							                <label th:if="${task.status} == 'completed'" style="cursor: context-menu;">
							                  <input type="checkbox"  th:class="|${task.id}|" checked="checked" disabled="disabled"/><span class="check"></span> <span th:class="|${task.id} completed|" th:text="${task.title}"></span>			                  
							                </label>
							                <label th:unless="${task.status} == 'completed'" style="cursor: context-menu;">
							                  <input type="checkbox"   th:class="|${task.id}|" disabled="disabled"/><span class="check"></span> <span th:class="${task.id}" th:text="${task.title}"></span>			                  
							                </label>
							              </div>                                                                                                        
                                      </div>
                                    </div>
                                </div>
                                
    				</div>
                                
                               
                            </div>			
		</div> <!-- /widget-content -->		
	</div> <!-- /widget -->
</div>

 
<div layout:fragment="css"> 

</div>

<div layout:fragment="js"> 
	<script>getRandomColor();</script>
</div>
</div>